<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
    <bean id="cust" class="org.example.Customer">
        <property name="id" value="1001"/>
        <property name="cname" value="Raja Agencies"/>
        <property name="address" value="Mecheri"/>
    </bean>
</beans>